---
layout: default
---

<section id="main-content">
	<article>
  <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>

        </section>
        <aside id="sidebar">
          <p style="font-weight:bold; font-size:large">Stories</b>
          <ul id="archive">
            {% for post in site.posts offset:1 %}
              <li>
                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
              </li>
            {% endfor %}
          </ul>
        </aside>

<hr>
<div id="paginator">
  {% if page.previous %}
    <a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Older</a>
  {% endif %}
  
  {% if page.next %}
    <a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a>
  {% endif %}
</div>